.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  background: var(--color-secondary);
  color: var(--color-state-900);
  width: fit-content;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 12px;
  line-height: 16px;
  padding: 4px 8px;
  font-weight: 500;
}
