:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #0e5b4b;
  --color-secondary: #ffcb00;
  --color-accent: #b91c1c;

  --color-dark: #0f172b;

  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-500: #62748e;
  --color-slate-900: #0f172b;

  --font-secondary: "Geist Mono", monospace;
  --font-primary: "Geist", sans-serif;
  --font-title: "Khand", sans-serif;
}
 